name: Create GitHub Release

on:
  # Run on demand
  workflow_dispatch:

  # Run on push to main when amzn2 version is updated
  push:
    branches:
      - main
    paths:
      - Dockerfile.amzn2

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@93ea575cb5d8a053eaa0ac8fa3b40d7e05a33cc8
      - name: Test release condition
        id: release
        run: |
          RELEASE=false
          if make release/test 2> /dev/null; then RELEASE=true; fi
          echo "::set-output name=condition::${RELEASE}"
          echo "::set-output name=version::$(make release/version)"
      - name: Create release
        if: steps.release.outputs.condition == 'true'
        uses: softprops/action-gh-release@1e07f4398721186383de40550babbdf2b84acfc5
        with:
          name: ${{ steps.release.outputs.version }}
          tag_name:  ${{ steps.release.outputs.version }}
          generate_release_notes: true
          target_commitish: ${{ env.GITHUB_REF }}
          token: ${{ secrets.GH_RELEASES_TOKEN }}
